* {
    margin: 0;
    padding: 0;
}

body,
html {
    width: 100%;
    height: 100%;
}

p {
    width: 100%;
    text-align: center;
    margin-top: 20px;
    font-style: 15px;
}

span {
    width: 69px;
    height: 20px;
    float: left;
    margin-top: 60px;
    margin-left: 67px;
}

.top {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.5);
}

div.box {
    display: block;
}